<!DOCTYPE html>
<html lang="en">

<head>
    <title>{{ error.message }}</title>
</head>

<body>
    <h2>{{ error.status }}</h2>
    <h1>{{ error.message }}</h1>
    <pre>{{ error.stack }}</pre>
</body>

</html>