<!DOCTYPE html>
<html lang="en">

<head>
	<title>{{ data.title }}</title>
</head>

<body>
	<h1>App1 layout</h1>
	<pre>views/apps/app1/layouts/main.html</pre>
	{% block content %}
	{% endblock %}
	<script src="/scripts/app1.js"></script>
</body>

</html>